VITE_APP_VERSION=v3.0.0
VITE_APP_BASE_NAME=/

## Backend API URL
VITE_APP_API_URL=https://stg-service-satu.telkomuniversity.ac.id/system-information-academic-obe/
# VITE_APP_API_URL=https://stg-service-satu.telkomuniversity.ac.id/framework-console/api/
